.button {
    border: 2px solid #003262;
    padding: 16px 32px 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 15px;
    background-color: #D3D3D3;
    color: #003262;
}

.button:hover {
    background-color: #003262;
    color: #D3D3D3;
}